.lucha_about
  .wrapper
    = partial('_header')
    %h1.page_headline ONCE UPON AN KILLER FAIRY TALE...
    .content
      .about_col
        %h3 The World Changed Since We Arrived
        %p.world_changer
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet dolor a felis tempus a aliquet enim pulvinar. Etiam metus libero, congue a lacinia eu, condimentum vitae mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet dolor a felis tempus a aliquet enim pulvinar. Etiam metus libero, congue a lacinia eu, condimentum vitae mi. 
        %h3 Meet the Handsome Peeps of LessFilms
        .team_member
          = img ('team_placeholder.png')
          %h4 Allan Branch
          Title
          %p
            Lorem ipsum dolor sit amet, consect etur adipiscing elit. Duis dapibus euismod imperdiet. Donec sit amet dolor vestibulum massa aliquet euismod. Mauris ut ma uris in mattis conv allis.
        .team_member
          = img ('team_placeholder.png')
          %h4 Eric Darnell
          Title
          %p
            Lorem ipsum dolor sit amet, consect etur adipiscing elit. Duis dapibus euismod imperdiet. Donec sit amet dolor vestibulum massa aliquet euismod. Mauris ut ma uris in mattis conv allis.
        .team_member
          = img ('team_placeholder.png')
          %h4 Corey Forbus
          Title
          %p
            Lorem ipsum dolor sit amet, consect etur adipiscing elit. Duis dapibus euismod imperdiet. Donec sit amet dolor vestibulum massa aliquet euismod. Mauris ut ma uris in mattis conv allis.
      = partial('_foot_banner')