- @page_title = "LessFilms | Hire Us" 
- @meta_description = "Need some custom Video Production? Hire us for your next Video Project. Do it now. We won't ask twice." 
/ Get rid of the footer box-shadow only on this page
:css
  .footer{box-shadow: 0 0 0;}

.lucha_hire_us
  .wrapper
    = partial('_header')
    %h1.page_headline GET IN THE RING
    .content
      .hire_us_col
        = partial('_contact')   
        .social_col
          %h3 Hang With Our Posse
          %h4 Connect
          = img('twitter_icon.png')
          = link "twitter.com/lessfilms", "http://www.twitter.com/lessfilms", :target => "_blank"
          = img('facebook_icon.png')
          = link "facebook.com/lessfilms", "http://www.facebook.com/lessfilms", :target => "_blank"
          = img('tumblr_icon.png')
          = link "lessfilms.tumblr.com", "http://www.lessfilms.tumblr.com", :target => "_blank" 
          = img('email_icon.png')
          = link "info@lessfilms.com", "mailto:info@lessfilms.com"
                                            
          