- @layout = "application"

//.top-wrapper
//  .nav
//    %ul
//      %li.pictos S S S S
//      %li 
//        %a{:href => "http://lessfilms.tumblr.com", :target => "_blank"} BLOG
//      %li.pictos S
//      %li 
//        %a{:onclick => "if($.browser.opera){$('html').animate({scrollTop: $('#reel').offset().top}, 800);} else $('html,body').animate({scrollTop: $('#reel').offset().top}, 800);"} REEL
//      %li.pictos S
//      %li 
//        %a{:onclick => "if($.browser.opera){$('html').animate({scrollTop: $('#about').offset().top}, 800);} else $('html,body').animate({scrollTop: $('#about').offset().top}, 800);"} ABOUT
//      %li.pictos S
//      %li 
//        %a{:onclick => "if($.browser.opera){$('html').animate({scrollTop: $('#contact').offset().top}, 800);} else $('html,body').animate({scrollTop: $('#contact').offset().top}, 800);"} CONTACT
//      %li.pictos S S S S

#header
.container
  .content
    %p.guys 
      THE  
      %span.chubby CHUBBY GUYS 
      AT LESSEVERYTHING
      %span.chubby PRESENT
    .title-wrapper
      %p.title-left LESS
      %p.title-right FILMS
      = img 'logo.png', :class=>'logo'
  %h1.make 
    We're ridiculously good at crafting videos that increase sales. Our goal is to make the viewer smile &amp; inspire their curiosity about your product or service.
    %span
      We're not really good at much else.

  
#arrow-wrapper
  #arrow
    %p 
      %a{:onclick => "if($.browser.opera){$('html').animate({scrollTop: $('#reel').offset().top}, 800);} else $('html,body').animate({scrollTop: $('#reel').offset().top}, 800);"} }

.reel
  .container
    %h3
      Animation / Motion Graphics

    .video

      %a{:href => "http://www.youtube.com/v/lNFNOSzik14", :class => "fancyYouTube"}
        = img 'info_diet_animated_video.png'
      .client
        The Information Diet
        %span
          "Book Promo Video"
        %a{:href => "http://www.youtube.com/v/lNFNOSzik14", :class => "fancyYouTube playbutton"}
          Watch Video

    .video

      %a{:href => "http://www.youtube.com/v/UwXoUEJiKBY", :class => "fancyYouTube"}
        = img 'business_partners_animated_video.png'
      .client
        BusinessPartners.com
        %span
          "Site Marketing"
        %a{:href => "http://www.youtube.com/v/UwXoUEJiKBY", :class => "fancyYouTube playbutton"}
          Watch Video


.reel
  .container
    %h3
      Live Action Web Commercials

    .video
      %a{:href => "http://www.youtube.com/v/BucMlqq_06o", :class => "fancyYouTube"}
        = img 'dress_me_video.png'
      .client
        Dress.me
        %span
          "Site Promo Video"
        %a{:href => "http://www.youtube.com/v/BucMlqq_06o", :class => "fancyYouTube playbutton"}
          Watch Video

    .video
      %a{:href => "http://www.youtube.com/v/SM21iKbt8p4", :class => "fancyYouTube"}
        = img 'Grasshopper_live_action_video.png'
      .client
        Grasshopper.com
        %span
          "Photographer Niche Video"
        %a{:href => "http://www.youtube.com/v/SM21iKbt8p4", :class => "fancyYouTube playbutton"}
          Watch Video
        

 
.reel
  .container
    %h3
      Office Culture Shorts

    .video
      %a{:href => "http://www.youtube.com/v/qtcYIP31QXo", :class => "fancyYouTube"}
        = img 'GrooveShark_culture_video.png'
      .client
        Grooveshark.com
        %span
          "Fun Office"
        %a{:href => "http://www.youtube.com/v/qtcYIP31QXo", :class => "fancyYouTube playbutton"}
          Watch Video

    .video
      %a{:href => "http://www.youtube.com/v/2aDsjk8bfLc", :class => "fancyYouTube"}
        = img 'Gowalla_office_culture.png'
      .client
        Gowalla.com
        %span
          "Work for Gowalla"
        %a{:href => "http://www.youtube.com/v/2aDsjk8bfLc", :class => "fancyYouTube playbutton"}
          Watch Video        



        
.reel
  .container
    %h3
      Conference Documentaries &amp; Promos

    .video
      %a{:href => "http://www.youtube.com/v/_uGMo6yvqvE", :class => "fancyYouTube"}
        = img 'LessConf_conference_promo_video.png'
      .client
        LessConf.com
        %span
          "Speaker Interrogation"
        %a{:href => "http://www.youtube.com/v/_uGMo6yvqvE", :class => "fancyYouTube playbutton"}
          Watch Video

    .video
      %a{:href => "http://www.youtube.com/v/SjgPIW1Bno4", :class => "fancyYouTube"}
        = img 'Strange_Loop_documentary_video.png'
      .client
        StrangeLoop
        %span
          "StrangeLoop is Awesome"
        %a{:href => "http://www.youtube.com/v/SjgPIW1Bno4", :class => "fancyYouTube playbutton"}
          Watch Video        




        
        
//#about
//  .container
//    %h2.about-header 
//      We've got mad skillz, yo.
//      %br
//        %span.dont
//          That's how the cool kids say it, right?
//    .luchador
//      .eyes
//        %p.who-we-are-content
//          %span.standout2 LessFilms is all about video. 
//          We make commercials, music videos, virals, documentaries... you name it, we shoot it. We take storytelling and communicating ideas seriously. You should stop reading this and check out 
//          %a.our-reel{:onclick => "if($.browser.opera){$('html').animate({scrollTop: $('#reel').offset().top}, 800);} else $('html,body').animate({scrollTop: $('#reel').offset().top}, 800);"} our reel. 
//          It says more than a few sentences ever could.
//    %h3.our-process OUR PROCESS
//    = img 'diagram.png', :class=>'diagram'
//

#contact
  .container
    %h2.tell-us Tell us about your project
    .left_column
      .facebook
        :plain
          <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Flessfilms&amp;width=350&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=480" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:480px;" allowTransparency="true"></iframe>
      
    .right_column
      .contact-form 
        .form
          :plain
            <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

            <script type="text/javascript">
            var s7p7r3 = new WufooForm();
            s7p7r3.initialize({
            'userName':'lessconf', 
            'formHash':'s7p7r3', 
            'autoResize':true,
            'height':'675', 
            'ssl':true});
            s7p7r3.display();
            </script>

.footer
  %p
    Yet another project brought to you by the handsome fellows at
    %a{:href => "http://LessEverything.com", :target => "_blank"} LessEverything.