- @layout = "application"

.top-wrapper
  .nav
    %ul
      %li.pictos S S S S
      %li 
        %a{:href => "http://lessfilms.tumblr.com", :target => "_blank"} BLOG
      %li.pictos S
      %li 
        %a{:onclick => "if($.browser.opera){$('html').animate({scrollTop: $('#reel').offset().top}, 800);} else $('html,body').animate({scrollTop: $('#reel').offset().top}, 800);"} REEL
      %li.pictos S
      %li 
        %a{:onclick => "if($.browser.opera){$('html').animate({scrollTop: $('#about').offset().top}, 800);} else $('html,body').animate({scrollTop: $('#about').offset().top}, 800);"} ABOUT
      %li.pictos S
      %li 
        %a{:onclick => "if($.browser.opera){$('html').animate({scrollTop: $('#contact').offset().top}, 800);} else $('html,body').animate({scrollTop: $('#contact').offset().top}, 800);"} CONTACT
      %li.pictos S S S S

#header
.container
  .content
    %p.guys 
      THE  
      %span.chubby CHUBBY GUYS 
      AT LESSEVERYTHING
      %span.chubby PRESENT
    .title-wrapper
      %p.title-left LESS
      %p.title-right FILMS
      = img 'logo.png', :class=>'logo'
  %h2.make 
    We make great films. 
    %br 
      %span.dont Don't ask us to do anything else.
 
  
#arrow-wrapper
  #arrow
    %p 
      %a{:onclick => "if($.browser.opera){$('html').animate({scrollTop: $('#reel').offset().top}, 800);} else $('html,body').animate({scrollTop: $('#reel').offset().top}, 800);"} }

#reel
  .into-videos 
    .container
      .left_column
        .video-info
          %p.video-title 
            We create 
            %span.standout funny videos 
            that drive sales and are actually worth sharing.
 
      .right_column
        .block-first
          %a{:href => "http://www.youtube.com/v/BucMlqq_06o", :class => "fancyYouTube"}
            = img '3.png', :class=>'featured'    
        .block-second
          %a{:href => "http://www.youtube.com/v/ZwF5OOX3LT4", :class => "fancyYouTube"}
            = img '6.png', :class=>'featured'    

    .container
      .breaker
        .left_column
          .video-info
            %p.video-title 
              We create amazing 
              %span.standout  promo videos 
              that entice your customers.

        .right_column
          .block-first
            %a{:href => "http://www.youtube.com/v/wEojTSxEUfk", :class => "fancyYouTube"}
              = img '4.png', :class=>'featured'  
          .block-second
            %a{:href => "http://www.youtube.com/v/NYimEV0j3ns", :class => "fancyYouTube"}
              = img '5.png', :class=>'featured'
              

    .container
      .breaker
        .left_column
          .video-info
            %p.video-title 
              We also make beautiful
              %span.standout  animated videos 
              to help push brands forward.

        .right_column
          .block-first
            %a{:href => "http://www.youtube.com/v/locgXCkvTl0", :class => "fancyYouTube"}
              = img '1.png', :class=>'featured'  
          .block-second
            %a{:href => "http://www.youtube.com/v/6SEa9sZUao0", :class => "fancyYouTube"}
              = img '7.png', :class=>'featured'
            
#about
  .container
    %h2.about-header 
      We've got mad skillz, yo.
      %br
        %span.dont
          That's how the cool kids say it, right?
    .luchador
      .eyes
        %p.who-we-are-content
          %span.standout2 LessFilms is all about video. 
          We make commercials, music videos, virals, documentaries... you name it, we shoot it. We take storytelling and communicating ideas seriously. You should stop reading this and check out 
          %a.our-reel{:onclick => "if($.browser.opera){$('html').animate({scrollTop: $('#reel').offset().top}, 800);} else $('html,body').animate({scrollTop: $('#reel').offset().top}, 800);"} our reel. 
          It says more than a few sentences ever could.
    %h3.our-process OUR PROCESS
    = img 'diagram.png', :class=>'diagram'


#contact
  .container
    %h2.tell-us Tell us about your project
    .left_column
      .facebook
        :plain
          <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Flessfilms&amp;width=350&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=480" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:480px;" allowTransparency="true"></iframe>
      
    .right_column
      .contact-form 
        .form
          :plain
            <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

            <script type="text/javascript">
            var s7p7r3 = new WufooForm();
            s7p7r3.initialize({
            'userName':'lessconf', 
            'formHash':'s7p7r3', 
            'autoResize':true,
            'height':'675', 
            'ssl':true});
            s7p7r3.display();
            </script>

.footer
  %p
    Yet another project brought to you by the handsome fellows at
    %a{:href => "http://LessEverything.com", :target => "_blank"} LessEverything.