.wrapper
  = partial('_header')
  %h1.page_headline INSANE PROCESS OF VIDEO PRODUCTION
  .content
    .process_col
      .before_after
        = img 'lucha_before_after.png'
        .top
          %h1 LETS GET IT ON!
          %h3 Features of our Video Process
          .feature_list
            %ul
              %li We discuss your product in detail
              %li You pay us to deliver a great video
              %li We'll shoot you an awesome video
              %li Your sales will go way up
        .bottom
          %h2.left Before LessFilms....
          %h2.right ...and OMG, freakin after!
          .mid
            %a{:href => "hire_us.html", :class => "gradient_button_green"} Hire Us
      .process_item
        = img 'step1.png'
        %br
        %h3 1
        %h3 Discuss Your Product
        %p
          Lorem ipsum dolor sit amet, consect etur adipiscing elit. Duis dapibus euismod imperdiet. Donec sit amet dolor vestibulum massa aliquet euismod. Mauris ut ma uris in mattis conv allis.
      .process_item
        = img 'step2.png'
        %br
        %h3 2
        %h3 You Pay Us Money
        %p
          Lorem ipsum dolor sit amet, consect etur adipiscing elit. Duis dapibus euismod imperdiet. Donec sit amet dolor vestibulum massa aliquet euismod. Mauris ut ma uris in mattis conv allis. 
      .process_item
        = img 'step3.png'
        %br
        %h3 3
        %h3 Get a Sweet Video
        %p
          Lorem ipsum dolor sit amet, consect etur adipiscing elit. Duis dapibus euismod imperdiet. Donec sit amet dolor vestibulum massa aliquet euismod. Mauris ut ma uris in mattis conv allis.
      .process_item
        = img 'step4.png'
        %br
        %h3 4
        %h3 Watch Sales Rise
        %p
          Lorem ipsum dolor sit amet, consect etur adipiscing elit. Duis dapibus euismod imperdiet. Donec sit amet dolor vestibulum massa aliquet euismod. Mauris ut ma uris in mattis conv allis.
      = partial('_foot_banner')