.wrapper
  = partial('_header')
  %h1.page_headline SLAMMIN' VIDEOS FROM YOURS TRULY...
  .content
    .videos_col
      .vid_nav
        .vid_category.closed
          .triangle
          %h3 Promos
          %ul
            %li 
              = link "Hiring a Luchador", "#"
            %li 
              = link "Day and Night Shooting", "#"
            %li 
              = link "When Ping Pong Goes Bad and You Get Owned", "#"
            %li 
              = link "Luchador VS Eric", "#"              
        .vid_category.closed
          .triangle
          %h3 Conferences
          %ul
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
        .vid_category.closed
          .triangle
          %h3 Documentaries
          %ul
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#" 
        .vid_category.closed
          .triangle
          %h3 Office Culture
          %ul
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#" 
        .vid_category.closed
          .triangle
          %h3 Web Commercials
          %ul
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#" 
        .vid_category.closed
          .triangle
          %h3 Animation
          %ul
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#" 
        .vid_category.closed
          .triangle
          %h3 Motion Graphics
          %ul
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#" 
      / Category class refers to the category of videos currently displayed
      / Add the new_vid class in the vid_item class to get the "New" ribbon overlay
      .vid_thumbs.vid_promos_category
        .vid_item
          .new_vid
          = img ('vid_thumb_temp_odd.png')
          = img ('vid_thumb_temp_even.png')
          = img ('vid_thumb_temp_odd.png')
          = img ('vid_thumb_temp_even.png')
          %h3 Hiring a Luchador
          .vid_thumb_time_box
            00:31
        .vid_item
          .new_vid
          = img ('vid_thumb_temp_odd.png')
          = img ('vid_thumb_temp_even.png')
          = img ('vid_thumb_temp_odd.png')
          = img ('vid_thumb_temp_even.png')
          %h3 Day and Night Shooting
          .vid_thumb_time_box
            02:51
        .vid_item
          = img ('vid_thumb_temp_odd.png')
          = img ('vid_thumb_temp_even.png')
          = img ('vid_thumb_temp_odd.png')
          = img ('vid_thumb_temp_even.png')
          %h3 Luchador VS Eric
          .vid_thumb_time_box
            00:58
        .vid_item
          = img ('vid_thumb_temp_odd.png')
          = img ('vid_thumb_temp_even.png')
          = img ('vid_thumb_temp_odd.png')
          = img ('vid_thumb_temp_even.png')
          %h3 When Ping Pong Goes Bad and You Get Owned
          .vid_thumb_time_box
            10:31
        %a{:href => "#", :class => "gradient_button_white left"} Show 4 More
        %a{:href => "#", :class => "gradient_button_white right"} Next Category
    = partial('_foot_banner')