.wrapper
  = partial('_header')
  %h1.page_headline SLAMMIN' VIDEOS FROM YOURS TRULY...
  .content
    .videos_col
      .vid_nav
        .vid_category.closed
          .triangle
          %h3 Promos
          %ul
            %li 
              = link "Hiring a Luchador", "#"
            %li 
              = link "Day and Night Shooting", "#"
            %li 
              = link "When Ping Pong Goes Bad and You Get Owned", "#"
            %li 
              = link "Luchador VS Eric", "#"              
        .vid_category.closed
          .triangle
          %h3 Conferences
          %ul
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
        .vid_category.closed
          .triangle
          %h3 Documentaries
          %ul
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#" 
        .vid_category.closed
          .triangle
          %h3 Office Culture
          %ul
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#" 
        .vid_category.closed
          .triangle
          %h3 Web Commercials
          %ul
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#" 
        .vid_category.closed
          .triangle
          %h3 Animation
          %ul
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#" 
        .vid_category.closed
          .triangle
          %h3 Motion Graphics
          %ul
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#"
            %li 
              = link "Second List Item", "#" 
      .vid_thumbs
    = partial('_foot_banner')