!!!
%html
  %head
    %title LessFilms
    
    / Remote JQuery library disabled temporarily so local testing will work properly
    / %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", :type => "text/javascript"}
    
    / Upon final deployment, remove below included file in favor of remote JQuery library
    = javascripts ('jquery-1.7.1.min')
    
    = javascripts ('jquery.prettyPhoto')
    = javascripts ('menu_scripts')
    = javascripts ('jquery-css-transform')
    = javascripts ('jquery-animate-css-rotate-scale')
    = javascripts ('fancy_vids')
    = javascripts ('jquery.cookie')

    / FancyBox
    %script{:src => "fancybox/jquery.fancybox-1.3.4.pack.js", :type => "text/javascript"}
    %link{:href => "fancybox/jquery.fancybox-1.3.4.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    
    / Custom Forms
    = javascripts ('jquery.uniform')
    %link{:type => 'text/css', :rel => 'stylesheet', :href => 'stylesheets/uniform_default.css'}
    :javascript
      $(function(){
        $("select").uniform();
      });
      
    %link{:type => 'text/css', :rel => 'stylesheet', :href => 'stylesheets/screen.css'}
    %link{:type => 'text/css', :rel => 'stylesheet', :href => 'stylesheets/buttons.css'}
    %link{:type => 'text/css', :rel => 'stylesheet', :href => 'stylesheets/prettyPhoto.css'}
  %body
    = yield
    = partial('_footer')